# By default, pnpm creates a semistrict node_modules, meaning dependencies have access to undeclared dependencies but modules outside of node_modules do not. With this layout, most of the packages in the ecosystem work with no issues. However, if some tooling only works when the hoisted dependencies are in the root of node_modules, you can set this to true to hoist them for you. 默认情况下， pnpm 创建 semistrict node_modules，这意味着依赖项可以访问未声明的依赖项，但外部的模块则node_modules不能。通过这种布局，生态系统中的大多数软件包都可以正常工作。但是，如果某些工具仅在提升的依赖项位于 的根目录中时才起作用node_modules，则可以将其设置为 来true为您提升它们。
# shamefully-hoist=true
