// 主题色
$vp-c-accent: #ab6fff;
// 正文
$vp-c-text: (
  light: #2c3e50,
  dark: rgb(235 235 245 / 76%)
);
$vp-font: "'Noto Sans SC', 'Source Code Pro', sans-serif";
// 标题
$vp-font-heading: "'Smiley Sans Oblique', 'Noto Sans SC', 'Source Code Pro', sans-serif";
// 代码
$vp-font-mono: "'Source Code Pro', 'Noto Sans SC', monospace";
// 正文背景色
$vp-c-bg: (
  light: #fff,
  dark: #0d1117
);
// 边框色
$vp-c-border: (
  light: #eaecef,
  dark: #30363d
);
// 分割线色
$vp-c-gutter: (
  light: #eaecef,
  dark: #30363d
);
// 侧边栏宽度
$sidebar-width: 16rem;
// 宽屏(>1920px )内容宽度
$wide-content-width: 830px;
