// 主题色
$vp-c-accent: #bf9eee;
// 正文
$vp-c-text: (
  light: #2c3e50,
  dark: rgb(235 235 245 / 76%)
);
$vp-font: "Yozai, 'Noto Sans SC', sans-serif";
// 标题
$vp-font-heading: "'Smiley Sans Oblique', 'Noto Sans SC', sans-serif";
// 代码
$vp-font-mono: "'Source Code Pro', Yozai, monospace";
// 正文背景色
$vp-c-bg: (
  light: #fff,
  dark: #0d1117
);
// 边框色
$vp-c-border: (
  light: #eaecef,
  dark: #30363d
);
// 分割线色
$vp-c-gutter: (
  light: #eaecef,
  dark: #30363d
);
