// 主题色
$theme-color: #bf9eee;
// 正文
$font-family: 'Yozai, Noto Sans SC, sans-serif';
// 标题
$font-family-heading: 'Smiley Sans Oblique, Noto Sans SC, sans-serif';
// 代码
// $font-family-mono: '"Noto Serif", regular';
